<div class="bubbleWrapper">
  <div class="bubble--{{ metricShortName.toLowerCase() }}">
    <div class="bubble bubble--hoverable">
      <div class="bubble-content">
        {{ actual | shortenedNumber }}
      </div>
      <div class="bubble-overlay" *ngIf="!!forecast">
        {{ forecast | shortenedNumber }}
        <div>Forecast</div>
      </div>
    </div>
  </div>
  <label (click)="openModal(metricShortName)">
    {{ metricLongName }}
    <span class="secondary">&#10138;</span>
  </label>
  <ct-dialog class="{{ metricShortName.toLowerCase() }}Modal">
    {{ metricShortName }}
    {{ actual | shortenedNumber }}
  </ct-dialog>
</div>
