<div class="bubbleWrapper">
  <div class="'bubble--{{ metricShortName.toLowerCase() }}">
    <div class="bubble bubble--hoverable">
      <div class="bubble-content">
        {{ actual }}
      </div>
      <div class="bubble-overlay" *ngIf="!!forecast">
        {{ forecast }}
        <div>Forecast</div>
      </div>
    </div>
  </div>
  <label>
    {{ metricLongName }}
    <span class="secondary" (click)="openModal(metricShortName)"><i class="fa fa-external-link"></i></span>
    <ct-dialog class="{{ metricShortName.toLowerCase() }}Modal">
      {{ metricShortName }}
      {{ actual }}
      {{ forecast }} Forecast
    </ct-dialog>
  </label>
</div>
