<table class="ctTable">
  <tr>
    <th>Engagements</th>
    <th *ngFor="let account of accounts">{{ account.name }}</th>
    <th>Totals</th>
  </tr>
</table>
<table class="ctTable">
  <tbody *ngFor="let group of transformedFianceData">
    <tr class="highlight">
      <td>
        <span class="toggleChildRows" (click)="toggleChildRows(group)">
          &#10148;
        </span>
        {{ group[0] }}
      </td>
      <td *ngFor="let groupCount of group[1]">
        {{ groupCount }}
      </td>
    </tr>
    <tr *ngFor="let subgroup of group; let i = index"
      *ngIf="i > 1"
      [hidden]="!group.areChildRowsShown">
      <td *ngFor="let nameOrStat of subgroup">
        {{ nameOrStat }}
      </td>
    </tr>
  </tbody>
</table>
