<div id="manage-brands-show" class="manage-brands-show">
  <ugc-banner></ugc-banner>
  <div class="brandBody">
    <h1>Your Crowd has been busy!</h1>
    <div class="dataBubbles" *ngIf="!!fianceData">
      <bubble
        [actual]="fianceData.engagements_count"
        [forecast]="fianceData.engagements_forecast"
        [metricLongName]="'Engagements'"
        [metricShortName]="'Engagements'"
        ></bubble>
      <bubble
        [actual]="fianceData.potential_imps_count"
        [forecast]="fianceData.potential_imps_forecast"
        [metricLongName]="'Potential Impressions'"
        [metricShortName]="'Impressions'"
        ></bubble>
      <bubble
        [actual]="fianceData.riv"
        [metricLongName]="'Return In Value'"
        [metricShortName]="'RIV'"
        ></bubble>
    </div>
    <div class="editStats">
      <ct-button type="subtle">edit stats</ct-button>
    </div>
    <div>
      <h3>Your activity at a glance</h3>
      <engagement-table *ngIf="!!fianceData" [fianceData]="fianceData.accounts"></engagement-table>
    </div>
  </div>
</div>
