<div class="brandBanner">
  <div class="ugcPhoto"
    [ngStyle]="{ 'background-image': 'url(' + ugc[0].photo_link + ')'}">
    <div class="switchImage">
      <i class="fa fa-angle-left"></i>
    </div>
    <div class="ugcPhoto-brandInfo">
      <h1>{{ brand.name }} Dashboard</h1>
      <ct-button>view your latest photos</ct-button>
      <p class="ugcPhoto-caption">
        Photo by {{ brand.name }} Tapper <strong>{{ ugc[0].full_name }}</strong> ({{ ugc[0].state }})
      </p>
    </div>
    <div class="switchImage">
      <i class="fa fa-angle-right"></i>
    </div>
  </div>
</div>
